<% content_for :body do %>
  <div id="show_blog_post">
    <%= render 'post' %>
  </div>

  <% if Refinery::Blog::Post.comments_allowed? %>
    <%= render 'comments'%>
  <% end %>
<% end %>

<%= render :partial => "/refinery/content_page", :locals => { :remove_automatic_sections => true }  %>

