%table
  %thead
    %tr
      %td Name
      %td Email
      %td Actions
  %tbody
    - @users.each do |user|
      %tr
        %td= user.full_name
        %td= user.email
        %td= link_to "Delete", user_path(user), method: :delete