section#body_content {
  @include makeRow();
}

section#body_content_left {
  @include makeColumn(9);
}

section#body_content_right {
  @include makeColumn(3);
  
  .inner {
    @extend .well;
    @extend .sidebar-nav;
    
    ul#tags, ul#categories {
      @extend .unstyled;
      
      li {
        i {
          margin-right: 10px;
        }
      }
    }
    
    h2 {
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }
}

section#blog_posts {
  article.blog_post {
    background-color: #F4F4F4;
    border-bottom: 1px solid #d2d2d2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    

    border-top: 0;
    margin-bottom: 30px;
    
    }
    
    .post-resume {
      @include makeRow();
      
      aside.details {
        @include makeColumn(3);
        background-color: #F4F4F4;
        
        .details-container {
          border-left: 1px solid #d2d2d2;
          height: 270px;
          padding-left: 10px;
          padding-top: 10px;
        }
        
        .date {
          font-size: 22px;
          font-weight: 300;
          
          span {
            color: #878787;
            font-size: 14px;
            margin-left: 10px;
          }
        }
        
        .details-separator {
          background-color: #E1E1E1;
          width: 100px;
          height: 10px;
          margin-top: 30px;
          margin-bottom: 10px;
        }
        
        h3 {
          margin: 0 0 10px 0;
        }
        
        span {
          color: #052D3F;
          display: inline-block;
          font-weight: 300;
          margin-bottom: 5px;
          -webkit-transition: all .25s linear;
          transition: all .25s linear;

          a {
            color: #052D3F;
            font-size: 14px;
            font-weight: 300;
          }
          
          i { margin-right: 10px;} 
        }
        
        aside {
          margin-top: 8px;
        }
        
        ul.social-plugin {
          @extend .unstyled;

          span {opacity: 1;}
        }
      }
      
      section.post-summary {
        @include makeColumn(6);
        background-color: white;
        
        .post-summary-container {
          height: 280px;
          border-right: 1px solid #d2d2d2;
          padding-left: 10px;
          padding-right: 10px;
        }
        
        header {
          @include makeRow();
      
          h1 {
            @include makeColumn(5);

            a {
              @extend .content-title;
            }
          }
      }
    }
  }
}

div#show_blog_post {
  @include makeRow();
  background-color: transparent;

  aside.details {
    @include makeColumn(3);
    
    .details-container {
      border-right: 1px solid #BBBBBB;
    }
    
    
    .date {
      font-size: 22px;
      font-weight: 300;
      
      span {
        color: #878787;
        font-size: 14px;
        margin-left: 10px;
      }
    }
    
    .details-separator {
      background-color: #E1E1E1;
      width: 100px;
      height: 10px;
      margin-top: 30px;
      margin-bottom: 10px;
    }
    
    h3 {
      margin: 0 0 10px 0;
    }
    
    span {
      color: #052D3F;
      display: inline-block;
      font-weight: 300;
      margin-bottom: 5px;
      -webkit-transition: all .25s linear;
      transition: all .25s linear;

      a {
        color: #052D3F;
        font-size: 14px;
        font-weight: 300;
      }
      
      i { margin-right: 10px;} 
    }
    
    aside {
      margin-top: 8px;
    }
    
    .social-plugin-container {
      margin: 10px 0 0 0;
      padding: 10px 0 0 0;

      border-top: 1px solid #BBBBBB;
      
      ul.social-plugin {
        @extend .unstyled;

        span {opacity: 1;}
      }
    }
    
    
  }
  
  section.post-summary {
    @include makeColumn(9);
    width: 700px !important;
    background-color: transparent;
    
    header {
      @include makeRow();
  
      h1 {
        @include makeColumn(8);

        a {
          @extend .content-title;
        }
      }
  }
  }

  nav#next_prev_article {
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}

section#body {
  @include makeColumn(12);
}

aside#comments {
  @include makeRow();
  margin-top: 50px;
  
  &:before {
    content: url('/assets/comments-arrow.png');
    position: relative;
    left: 300px;
    top: 0px;
  }
  
  h2 { margin-left: 20px}
  
  .comments-container {
    @include makeColumn(9, 3);
    background-color: #E4E4E4;
  }
  
  .comments-messages-container {
    @include makeRow();

    article.blog_comment_message {
      @include makeColumn(9);
      border-bottom: 1px solid #d2d2d2;
      background-color: #ECECEC;
      
      .comment-message-container {
        padding: 10px;
      }
    
      header {
        padding: 10px;
        margin-bottom: 10px;
        
        span {
          color: #444444;
          font-weight: 600;
        }
        
        span.author {
          @extend .pull-left;
        }
  
        span.date {
          @extend .pull-right;
        }
      }
    
    }
  }
  
  form.new_comment {
    @include makeColumn(4);
    
    h2 { 
      @include makeColumn(4);
    }
    
    div.form_new_comment {
      @include makeRow();
      
      div.field {
        @include makeColumn(4);

        input, textarea {
          background-color: #eee;
      
          &:focus {
            background-color: white;
          }
      
          &::-webkit-input-placeholder {
             color: #aaa;
          }

          &:-moz-placeholder { /* Firefox 18- */
             color: aaa;  
          }

          &::-moz-placeholder {  /* Firefox 19+ */
             color: aaa;  
          }

          &:-ms-input-placeholder {  
             color: aaa;  
          }
        }
        
        &.message_field {
          textarea {
            height: 200px;
          }
        }
      }
    }
  }
}
