section#body_content {
  @include makeRow();
}

section#body_content_left {
  @include makeColumn(8);
}

section#body_content_right {
  @include makeColumn(4);
  
  .inner {
    @extend .well;
    @extend .sidebar-nav;
    
    ul#categories {
      @extend .nav; 
      @extend .nav-list;
    }
    
    nav#tags {
      a {
        @extend .label;
        @extend .label-info;
      }
    }
  }
}

article.blog_post {
  border-bottom: 1px dashed #999;;
  display: inline-block;
  margin-bottom: 20px;
  padding-bottom: 10px;

  header {
    margin-bottom: 20px;
  }
  
  aside.tagged {
    a {
      @extend .label;
      @extend .label-info;
    }
  }
  
  footer {    
    aside {
      @extend .pull-left;
    }
  }
}

#comments {
  h2 {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    color: #202020;
    border: 0;
    width: 100%;
    text-align: left;
    margin: 10px 0px;
  } 
}