#new_member_form{
  ol {
    @extend .unstyled;
  }
}

input.form-error {
  border: 1px solid red;
}


div.form-error {
  color: red;
}

.authentication-selected {
  -moz-opacity: 0.50;
  opacity: 0.50;
}