<div class="row">
  <div class="span12">
    <p class='lead'>En esta sección, te invitamos a compartir tus experiencias e ideas innovadoras sobre temas sociales y políticos, utilizando videos, imagenes, PDFs, etc.</p>
  </div>
</div>
<div class="row">

  <div class="span12">
    <h1> Cursos </h1>

    <div id="experiences" class="row">
      <% @courses.each do |course| %>
      <div class="span6">
        <div class="experience">
          <div class="experience-container">
            <aside class='details'>
              <div class="details-container">
                <div class="date">
                  <% if course.get_remote_attribute('start_at').present? %>
                    <%= l(course.get_remote_attribute('start_at').to_date, :format => :short) %>
                    <span><%= course.get_remote_attribute('start_at').to_date.year %></span>
                  <% end %>
                </div>

              </div>
            </aside>
            <section class="summary">
              <div class="summary-container">
                <header>
                  <h2><%= course.get_remote_attribute('name') %> </h2>
                </header>



                <%= link_to curso_path(course.get_remote_attribute('id')), class: 'btn btn-warning', method: :put do %>
                  Enrolarse <i class="icon-plus icon-white"></i>
                <% end %>
                <br/>
              </div>
            </section>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>