<p>
  <%= link_to 'UNA INICIATIVA DEL INSTITUTO NACIONAL DEMÓCRATA PARA ASUNTOS INTERNACIONALES (NDI)', 'http://www.ndi.org/lea_aqui_sobre_el_ndi', target: :blank%>
  <br/>
  
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
  <img src="/assets/logo-footer.png" class="footer-logo">
</p>
