<header>
  <div class="container">
    <%= image_tag 'logo.png', class: ['pull-left'] %>
    <%= link_to 'Entrar', 'http://auth.redinnovacion.org/', class:['btn', 'btn-warning', 'pull-right']%>
  </div>
</header>

<nav>
  <div class="navbar">
    <div class="container">
      <div class="navbar-inner">
        <%= render :partial => "/refinery/menu", :locals => {:dom_id => 'menu', :css => 'menu'} %>
      </div>
    </div>
  </div>
</nav>