<%
  # Collect the root items.
  # ::Refinery::Menu is smart enough to remember all of the items in the original collection.
  puts Refinery::Menu.new(Refinery::Page.fast_menu)
  if (roots = local_assigns[:roots] || (collection ||= refinery_menu_pages).roots).present?
    dom_id ||= 'menu'
    css = [(css || 'menu clearfix')].flatten.join(' ')
    hide_children = Refinery::Core.menu_hide_children if hide_children.nil?
-%>

  <ul class="nav pull-left">
    <li><a href="/blog">NOTICIAS relevantes</a></li>
    <li><a href="/blog">APRENDIZAJE</a></li>
    <li><a href="http://198.211.103.4/">APRENDIZAJE</a></li>
    <li><a href="/foros">FOROS de discusion</a></li>
    <li><a href="#">COMUNIDAD de inovaci&oacute;n</a></li>
    
    <%= render :partial => '/refinery/menu_branch', :collection => roots,
             :locals => {
               :hide_children => hide_children,
               :sibling_count => (roots.length - 1),
               :menu_levels => local_assigns[:menu_levels],
               :apply_css => true #if you don't care about class='first' class='last' or class='selected' set apply_css to false for speed.
             } -%>
  </ul>
  <ul class="nav pull-right">
    <% if current_refinery_user.blank? %>
      <li><a href="/refinery/users/login">Ingresar</a></li>
    <% else %>
    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Action<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a tabindex="-1" href="/members/edit">Editar perfil</a></li>
            <% if current_refinery_user.has_role?(:superuser) -%>
              <li><a tabindex="-1" href="/administrador">CMS Administrador</a></li>
              <li><a tabindex="-1" href="/foros/admin">Foro Administrador</a></li>
            <% end -%>
            <li class="divider"></li>
            <li><a tabindex="-1" href="/refinery/users/logout">Logout</a></li>
        </ul>
    </div>
    <% end -%>
  </ul>
<% end -%>
