html {
  background: url('/assets/background.png');
}

body {
  background-color: transparent;
}

body > header {
  background-color: white;
  display: inline-block;
  height: 50px;
  margin: 0;
  padding: 10px 0;
  width: 100%;
}

.navbar {
  .container { width: 940px !important;}
}