@import 'bootstrap';

section#body_content_left {
  @extend .span8;
  display: inline-block;
}

section#body_content_right {
  @extend .span4;
  display: inline-block;
  
  .inner {
    @extend .well;
    
    ul#categories {
      @extend .nav; 
      @extend .nav-list;
    }
    
    nav#tags {
      a {
        @extend .label;
        @extend .label-info;
      }
    }
  }
}

article.blog_post {
  border-bottom: 1px dashed #999;;
  display: inline-block;
  margin-bottom: 20px;
  padding-bottom: 10px;

  header {
    margin-bottom: 20px;
  }
  
  aside.tagged {
    a {
      @extend .label;
      @extend .label-info;
    }
  }
  
  footer {
    a {
      @extend .btn;
      @extend .btn-primary;
      @extend .pull-right;
    }
    
    aside {
      @extend .pull-left;
    }
  }
}